@media (min-width: 800px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 5em;
    }

    .title {
        font-size: 3.75rem;
    }

}
